<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <h1>This is an archive page.</h1>
    <div class="archive-grid">
<div class="grid-row-first">
  City
  </div>
  <div class="grid-row-sc">
    Date
    </div>
    <div class="grid-row-th">
      Weather
      </div>
      <div class="grid-row-ft">
        Temperature
        </div>
    </div>
  </body>
</html>
